/* Стили для страницы */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Стили для заголовка */
h1 {
  text-align: center;
  color: #333;
}

/* Стили для карты */
#map {
  height: 80vh; /* Высота карты занимает 80% высоты окна */
  width: 100%;  /* Ширина карты занимает 100% ширины окна */
  margin: 0;    /* Убираем отступы */
  padding: 0;   /* Убираем внутренние отступы */
}

/* Стили для элементов управления */
.leaflet-control-layers {
  background: white; /* Цвет фона для элементов управления */
  padding: 10px;     /* Внутренние отступы */
  border-radius: 5px; /* Скругление углов */
}
